.cocktail-information {
    display: flex;
    grid-column: 2 / 6;
    background-color: #f7f7f8;
    padding-right: 1rem;

    p {
        display: inline;
        font-weight: 400;
    }

    li {
        display: block;
    }
}