#cocktailPage {
    margin: 0 10rem;

    #cocktailHeading {
        color: white;
        text-align: left;
        font-size: 30px;
        margin-bottom: 1rem;
    }

    #cocktailInformation {
        display: flex;
        background-color: var(--color-purple-light);
        padding: 2rem;
        border-radius: 0.5rem;

        figure {
            flex: 1;
            text-align: left;
            align-content: flex-start;

            img {
                width: 80%;
                border-radius: 0.5rem;
            }
        }

        article {
            display: flex;
            flex-direction: column;
            flex: 1;

            #tags {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 1rem;
                    margin-bottom: 3rem;
                    margin-top: 1rem;

                    li {
                        display: block;
                        letter-spacing: 0.025rem;
                        text-transform: uppercase;
                        color: #251f1f;
                        border-radius: 1.25rem;
                        padding: 0.35rem 0.75rem;
                        border-style: solid;
                        border-width: 0.125rem;
                        border-color: var(--color-purple-darkest);
                    }
                }
            }

            p {
                text-align: left;
                margin-top: 2rem;
            }

            h1 {
                font-size: 60px;
            }

            #ingredients {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    margin-bottom: 0;
                }

                #ingredientsList {
                    margin-top: 0;

                    li {
                        display: list-item;
                        list-style-position: inside;
                        text-align: start;
                    }
                }
            }

            div:not(#tags) {
                align-self: end;
                margin-top: 2rem;
            }
        }
    }
}

@media (max-width: 1250px) {
    #cocktailPage {
        #cocktailInformation {
            article {
                h1 {
                    font-size: 40px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    #cocktailPage {
        #cocktailInformation {
            flex-direction: column;

            figure {
                text-align: center;
                width: auto;
            }
        }
    }
}

@media (max-width: 700px) {
    #cocktailPage {
        margin: 0 2rem;

        #cocktailHeading {
            font-size: 20px;
        }
    }
}
