
#hamburger {
    button {
        padding: 0 0.4rem;

        .material-symbols-outlined {
            font-size: 50px;
        }
    }
}

@media (max-width: 400px) {
	#navbar {
		display: none;
	}

    #hamburger {
        display: block;

        #navbar {
            display: contents;

            ul {
                flex-direction: column;
            }
        }
    }
}

@media (min-width: 401px) {
	nav button {
		display: none;
	}

    #hamburger {
        display: none;
    }

	#navbar {
		display: block;
	}
}