header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--color-header-background);

	position: fixed;
	z-index: 1;
	@media (max-width: 900px) {
		flex-direction: column;
		align-items: center;
	}

	&,
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	#header-title {
		color: var(--color-header-text);

		font-size: clamp(1rem, calc(18vw / 3), 2rem);

		margin-left: 1rem;
		margin-top: 0.75rem;

		@media (max-width: 900px) {
			margin-left: 0.25rem;
			margin-right: 0.25rem;
		}
	}

	nav {
		ul {
			display: flex;
			flex-direction: row;

			li {
				&::marker {
					/* display: none; */ /* interestingly, this doesn't hide the list item markers, so we'll resort to making them transparent instead.. */
					color: rgba(0, 0, 0, 0);
				}
				a.active > * {
					/* highlights current page's navlink */
					background-color: var(--color-header-nav-background-active);
				}
			}

			a > * {
				color: var(--color-header-nav-text);

				min-width: 7rem;
				padding: 1.125rem 1rem 0.625rem;

				border-bottom: 0.25rem var(--color-header-nav-ribbon) solid;

				&:hover {
					color: var(--color-header-nav-text-hover);
					background-color: var(--color-header-nav-background-hover);
					padding: 0.875rem 1rem 0.875rem;
					transition: all 0.2s;
				}
			}
		}
	}
}
