@import url("./CocktailInfoPage.css");
@import url("./DrinkCard.css");
@import url("./FavouritesPage.css");
@import url("./FilterForm.css");
@import url("./Footer.css");
@import url("./Header.css");
@import url("./IngredientPage.css");
@import url("./LandingPage.css");
@import url("./PaginateButtons.css");
@import url("./PaginationForm.css");
@import url("./SearchPage.css");
@import url("./SearchResult.css");
@import url("./Spinner.css");

/******************
* General Styling *
******************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--color-purple-0: #213;
	--color-purple-1: #324;
	--color-purple-2: #546;
	--color-purple-3: rgb(203, 177, 206);

	--color-header-background: var(--color-purple-1);
	--color-header-nav-background: var(--color-purple-1);
	--color-header-nav-background-active: var(--color-purple-0);
	--color-header-nav-background-hover: var(--color-purple-0);
	--color-header-nav-ribbon: #436;
	--color-header-nav-text-hover: #a4abff;

	--color-footer-background: var(--color-purple-1);
	--color-body-background: var(--color-purple-2);
	--color-card-background: var(--color-purple-3);

	--color-header-text: white;
	--color-footer-text: white;
	--color-header-nav-text: white;

	--color-button-text: #434343;
	--color-button-background: var(--color-purple-3);
	--color-button-text-hover: white;
	--color-button-background-hover: #213547;

	--color-error-text: rgb(255, 255, 83);
}

body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	text-align: center;

	background-color: var(--color-body-background);
	min-height: 100vh;

	#root {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100vh;
	}

	main {
		min-height: 80vh;
		margin-top: 5rem;

		@media (max-width: 900px) {
			margin-top: 10rem;
		}
	}

	a {
		text-decoration: inherit;
	}

	button {
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 0.6em 1.2em;
		font-size: 1em;
		font-weight: 500;
		font-family: inherit;
		background-color: var(--color-button-background);
		color: var(--color-button-text);
		cursor: pointer;
		margin: 0.5rem;
	}

	button:hover {
		background-color: var(--color-button-background-hover);
		color: var(--color-button-text-hover);
	}

	.errorMessage {
		color: var(--color-error-text);
		margin-block: 1rem;
	}

	.material-symbols-outlined {
		font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
	}
}
