#ingredientInformation {
    display: flex;
    background-color: #CBB1CE;
    padding-right: 1rem;
    margin: 0 5rem;

    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }

    p {
        display: inline;
        font-weight: 400;
    }

    li {
        display: block;
    }

    #ingredientDescription {
        text-align: left;
        padding-right: 2rem;
        margin-top: 4rem
    }
}