
#ingredientTabs {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 10rem;

    input[type="radio"] {
        display: none;
    }

    input[type='radio']:checked + label + .tab {
        display: block;
    }

    input[type="radio"]:checked + label {
        background: #CBB1CE;
    }

    label {
        padding: 25px;
        background: #e2e2e2;
        font-weight: bold;
    }

    label:hover {
        cursor: pointer;
    }

    .tab {
        width: 100%;
        background-color: #CBB1CE;
        order: 1;
        display: none;
        text-align: left;
        padding: 2rem;

        h2 {
            font-size: 3em;
        }

        #drinksList {
            h3 {
                text-align: center;
                font-size: 40px;
                margin-bottom: 3rem;
            }

            ul {
                columns: 3;
                margin: 2rem;
            }
        }

        #ingredientInformation {
            display: flex;
            background-color: #CBB1CE;
            padding-right: 1rem;
        
            h1 {
                font-size: 3.2em;
                line-height: 1.1;
            }
        
            p {
                display: inline;
                font-weight: 400;
            }
        
            li {
                display: block;
            }
        
            #ingredientDescription {
                text-align: left;
                padding-right: 2rem;

                h1 {
                    text-align: center;
                    margin: 0;
                    font-size: 80px;
                }

                #tags {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 1rem;
                    margin-bottom: 3rem;
                    margin-top: 1rem;
    
                    p {
                        display: block;
                        background-color: rgb(131, 68, 131);
                        font-size: larger;
                        font-weight: 600;
                        border-radius: 8px;
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 1350px) {
    #ingredientTabs {
        .tab {
            #ingredientInformation {
                #ingredientDescription {
                    padding: 0;

                    #ingredientName {
                        font-size: 40px;
                        margin: 2rem 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    #ingredientTabs {
        .tab {
            #ingredientInformation {
                flex-direction: column;
                padding-right: 0;
        
                figure {
                    align-self: center;
                }
            }
        }
    }
}

@media (max-width: 950px) {
    #ingredientTabs {
        .tab {
            #drinksList {
                h3 {
                    font-size: 20px;
                }
                ul {
                    columns: 2;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    #ingredientTabs {
        margin: 3rem 2rem;
    }
}

@media (max-width: 600px) {
    #ingredientTabs {
        .tab {
            #drinksList {
                ul {
                    columns: 1;
                }
            }
        }
    }
}