#searchDrinkForm {
    label {
        font-weight: 600;
        font-size: 1.5rem;
        color: white;
    }

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem;

        #searchFormInput {
            height: 2.7rem;
            flex-grow: 0.1;
            font-size: 1.2rem;
            margin: 0.5rem;
            padding: 0 1rem;
            border: none;
            border-radius: 5px;
            box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
            transition: 0.25s;
        }
    }
}
